<!DOCTYPE html>

<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>{:C('WEBSITE_TITLE')}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<load href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<load href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
<load href="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js" />
<load href="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js" />
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a href="{:U('/')}"><img alt="{:C('WEBSITE_TITLE')} Logo" src="__PUBLIC__/img/logo.png" /></a>
            </div>
            <!-- 导航菜单开始 -->
            <ul class="nav navbar-nav">
                <li><a href="{:U('/')}">首页</a></li>
                <li><a onclick="addFavorite('http://rb.xysoftlab.com', '{:C('WEBSITE_TITLE')}')" href="javascript:;">添加到收藏</a></li>
                    <li><a id="link_user_photo" href="javascript:;">{$user.username}</a></li>
                    <li><a id="link_user_logout" href="javascript:;">退出登录</a></li>
            <li><a id="link_write_daily" href="javascript:;">撰写日报</a></li>
            </ul>
        <!-- 导航菜单结束 -->
        </nav>
        <!-- 用户下拉框开始 -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <select id="user_selector">
                </select>
            </div>
        </div>
        <!-- 用户下拉框结束 -->
    </div>
</header>
<section>
    <div class="container">
        <!-- 日报撰写表单开始 -->
        <div id="write_daily_form_view" class="row" style="display:none;">
            <div class="col-md-6 col-md-offset-6">
                <h1 class="page-header">撰写日报</h1>
                <div class="form-group"><label for="write_daily_form_title">日报标题：</label><input type="text" class="form-control" id="write_daily_form_title" value="" size="100" maxsize="100" /></div>
                <div class="form-group"><div class="form-group-addon"><label for="write_daily_form_content">日报正文：</label></div>
                <div><textarea class="form-control" id="write_daily_form_content" rows="50" cols="50"></textarea></div></div>
                <div><button id="btn_write_daily_form_write" type="button" class="btn btn-default">提交</button></div>
                <div><button id="btn_write_daily_form_close" type="button" class="btn btn-close">关闭</button></div>
            </div>
        </div>
        <!-- 日报撰写表单结束 -->
        <!-- 日报编辑表单开始 -->
        <div id="edit_daily_form_view" class="row" style="display:none;">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="page-header">编辑日报</h1>
                <div class="form-group"><label for="edit_daily_form_title">日报标题：</label><input type="text" class="form-control" id="edit_daily_form_title" value="" size="100" maxsize="100" /></div>
                <div class="form-group"><div class="form-group-addon"><label for="edit_daily_form_content">日报正文：</label></div>
                <div><textarea id="edit_daily_form_content" class="form-control" rows="50" cols="50"></textarea></div></div>
                <div><input type="hidden" id="edit_daily_form_id" value="" /></div>
                <div><button id="btn_edit_daily_form_edit" type="button" class="btn btn-default">提交</button></div>
                <div><button id="btn_edit_daily_form_close" type="button" class="btn btn-close">关闭</button></div>
            </div>
        </div>
        <!-- 日报编辑表单结束 -->
        <!-- 日报列表开始 -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table id="daily_table">
                    <caption>日报列表</caption>
                    <tr>
                        <th class="th-daily-title">标题</th><th class="th-daily-author">作者</th><th class="th-daily-update-time">时间</th><th class="th-daily-edit"></th><th class="th-daily-delete"></th>
                    </tr>
                    <tbody id="daily_table_tbody">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 日报列表结束 -->
        <!-- 分页开始 -->
        <div class="row">
            <div class="col-md-12">
                <ul id="pagination" class="pagination">
                </ul>
            </div>
        </div>
        <!-- 分页结束 -->
        <!-- 日报内容开始 -->
        <div tabindex="0" id="daily_detail_view" class="row" style="display:none;">
            <div class="col-md-6 col-md-offset-3">
                <h1 id="daily_detail_title" class="page-header"></h1>
                <div><span id="daily_detail_author"></span><span id="daily_detail_update_time"></span></div>
                <div id="daily_detail_content"></div>
                <div><input type="hidden" id="daily_detail_view_id" value="" /></div>
                <div><button id="btn_daily_detail_close" type="button" class="btn btn-close">关闭</button></div>
            </div>
        </div>
        <!-- 日报内容结束 -->
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p>版权所有 &copy; {:date('Y')} <a href="http://www.siaa.org.cn" target="_blank">信息无障碍研究会</a></p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
// 全局变量定义
var g_uid = 0;    // 当前用户列表中选定的用户的ID

// 添加到收藏
function addFavorite(url, title)
{
    try
    {
        url = encodeURI(url);
        window.external.addFavorite(url, title);
    }
    catch (e)
    {
        try
        {
            window.sidebar.addPanel(title, url, '');
        }
        catch (e)
        {
            alert('抱歉，您的浏览器不支持使用此方法添加收藏，请使用Ctrl+D手动收藏！');
        }
    }
}

// 清空日报撰写表单
function clearWriteDailyForm()
{
    document.getElementById('write_daily_form_title').value = '';
    document.getElementById('write_daily_form_content').value = '';
}

// 更新用户组合框
function updateUserSelector()
{
        $("#user_selector").html('');
    $("#user_selector").append('<option value="0">所有人</option>');
    $.post('{:U('/api/user/list')}', {}, function(data){
            for (var i = 0; i < data.length; i++)
            $("#user_selector").append('<option value="' + data[i].id + '">' + data[i].username + '</option>');
    });
}

// 显示撰写日报表单
function showWriteDailyForm()
{
    var date = new Date();
    $("#write_daily_form_title").val(date.getFullYear().toString() + date.getMonth().toString() + date.getDate().toString() + '日报-' + $("#link_user_photo").html());
    $("#write_daily_form_content").html('【工作列表】\r\n');
    $("#write_daily_form_view").show();
    $("#write_daily_form_content").focus();
}

// 关闭日报撰写表单
function closeWriteDailyForm()
{
$("#write_daily_form_view").hide();
clearWriteDailyForm();
}

// 显示日报内容详情视图
function showDailyDetailView()
{
    $("#daily_detail_view").show();
        $("#daily_detail_view").focus();
}

// 清空日报内容视图中的数据
function clearDailyDetailView()
{
    $("#daily_detail_title").html('');
    $("#daily_detail_author").html('');
    $("#daily_detail_update_time").html('');
    $("#daily_detail_content").html('');
    $("#daily_detail_view_id").val('');
}

// 关闭日报详情视图
function closeDailyDetailView()
{
    clearDailyDetailView();
    $("#daily_detail_view").hide();
}

// 点击日报标题链接
function detailDaily(id)
{
    $.post('{:U('/api/daily/detail')}', {id: id}, function(data){
        switch (data)
        {
                case -10001:
                    alert('您尚未登录，无法进行此操作！');
                break;
                case -10002:
                    alert('您的账户已被管理员禁用，无法进行此操作！');
                break;
        case -101:
            alert('日报没有找到！');
        break;
        default:
            $("#daily_detail_title").html(data.title);
            $("#daily_detail_author").html(data.author);
            $("#daily_detail_update_time").html(data.update_time);
            $("#daily_detail_content").html(data.content.replace(/\n/g, '<br />'));
            $("#daily_detail_view_id").val(id.toString());
            showDailyDetailView();
        break;
        }
    });
}

// 翻页功能实现
function turnPage(page)
{
    updateDailyTable(page);
}

// 更新日报列表
function updateDailyTable(page)
{
    $.post('{:U('/api/daily/list')}', {uid: g_uid, page: page, size: 8}, function(data){
        $("#daily_table_tbody").html('');
            if (data)
        {
        var dailyList = data.data;
        for (var i = 0; i < dailyList.length; i++)
                $("#daily_table_tbody").append('<tr><td><h2><a class="daily-item-title" id="daily_item' + dailyList[i].id + '_detail" onclick="detailDaily(' + dailyList[i].id + ')" href="javascript:;">' + dailyList[i].title + '</a></h2></td><td>' + dailyList[i].author + '</td><td>' + dailyList[i].update_time + '</td><td><a class="daily-item-edit" id="daily_item' + dailyList[i].id + '_edit" onclick="editDaily(' + dailyList[i].id + ')" href="javascript:;">编辑</a></td><td><a class="daily-item-delete" id="daily_item' + dailyList[i].id + '_delete" onclick="deleteDaily(' + dailyList[i].id + ')" href="javascript:;">删除</a></td></tr>');
            $("#pagination").html('');
            if (data.curpage > 1)
                $("#pagination").html('<li><a href="javascript:;" onclick="turnPage(' + (data.curpage - 1) + ')" title="上一页">&lt;&lt;</a></li>');
            else
                $("#pagination").html('<li class="disabled"><span title="上一页">&lt;&lt;</span></li>');
            for (var i = Math.floor((data.curpage - 1) / 10) * 10 + 1; i <= data.pagenum && i <= Math.floor((data.curpage - 1 + 10) / 10) * 10; i++)
                if (data.curpage == i)
                    $("#pagination").append('<li class="disabled"><span title="第' + i + '页">[' + i + ']</span></li>');
                else
                    $("#pagination").append('<li><a href="javascript:;" onclick="turnPage(' + i + ')" title="第' + i + '页">[' + i + ']</a></li>');
            if (data.curpage < data.pagenum)
                $("#pagination").append('<li><a href="javascript:;" onclick="turnPage(' + (data.curpage + 1) + ')" title="下一页">&gt;&gt;</a></li>');
            else
                $("#pagination").append('<li class="disabled"><span title="下一页">&gt;&gt;</span></li>');
        }
    });
}

// 删除日报
function deleteDaily(id)
{
    $.post('{:U('/api/daily/owner')}', {id: id}, function(data){
        switch (data)
        {
        case -10001:
            alert('您尚未登录，无法进行此操作！');
        break;
        case -10002:
            alert('您的账户已被管理员禁用，无法进行此操作！');
        break;
        case -101:
            alert('日报不存在！');
        break;
        case -102:
            alert('你无权删除他人日报！');
        break;
        case 1:
            if (!window.confirm('您确认要删除日报“' + $("#daily_item" + id + "_detail").html() +'”吗？删除后将不可恢复！'))
                break;
            $.post('{:U('/api/daily/delete')}', {id: id}, function(data){
                switch (data)
                {
                case -10001:
                    alert('您尚未登录，无法进行此操作！');
                break;
                case -10002:
                    alert('您的账户已被管理员禁用，无法进行此操作！');
                break;
                case -101:
                    alert('您要删除的日报不存在！');
                break;
                case -102:
                    alert('您无权删除他人日报！');
                break;
                case 1:
                    alert('删除成功！');
                    updateDailyTable(1);
                break;
                default:
                    alert('未知错误，');
                break;
                }
            });
        break;
        default:
            alert('未知错误，请联系管理员！');
        break;
        }
    });
}

// 显示日报编辑表单
function showEditDailyForm()
{
    $("#edit_daily_form_view").show();
    $("#edit_daily_form_content").focus();
}

// 编辑日报
function editDaily(id)
{
    $.post('{:U('/api/daily/owner')}', {id: id}, function(data){
        switch (data)
        {
        case -10001:
            alert('您尚未登录，无法进行此操作！');
        break;
        case -10002:
            alert('您的账户已被管理员禁用，无法进行此操作！');
        break;
        case -101:
            alert('日报不存在！');
        break;
        case -102:
            alert('你无权编辑他人日报！');
        break;
        case 1:
            $.post('{:U('/api/daily/detail')}', {id: id}, function(data){
                $("#edit_daily_form_title").val(data.title);
                $("#edit_daily_form_content").val(data.content);
                $("#edit_daily_form_id").val(id.toString());
            });
            showEditDailyForm();
        break;
        default:
            alert('未知错误，请联系管理员！');
        break;
        }
    });
}

// 关闭日报编辑表单
function closeEditDailyForm()
{
    $("#edit_daily_form_view").hide();
    $("#daily_item" + $("#edit_daily_form_id").val() + "_edit").focus();
}

// 事件处理
$(function(){
    updateUserSelector();    // 更新用户列表
    updateDailyTable(1);    // 更新日报列表

    // 点击退出登录链接
    $("#link_user_logout").click(function(){
        $.post('{:U('/api/user/logout')}', {}, function(data){
            location.href = "{:U('/login')}";
        });
    });

    // 点击撰写日报链接
    $("#link_write_daily").click(function(){
        if ($("#link_user_photo").is(":hidden"))
        {
            alert('您还没有登录，请先登录！');
            hideUserRegisterForm();
            showUserLoginForm();
        }
        else
        {
            showWriteDailyForm();
        }
    });

    // 点击日报撰写表单中的关闭按钮
    $("#btn_write_daily_form_close").click(function(){
        closeWriteDailyForm();
    });

    // 点击撰写日报表单中的提交按钮
    $("#btn_write_daily_form_write").click(function(){
        var title = document.getElementById('write_daily_form_title').value;
        var content = document.getElementById('write_daily_form_content').value;
        $.post('{:U('/api/daily/create')}', {title: title, content: content}, function(data){
            switch (data)
            {
            case -10001:
                alert('您还没有登录，无法提交日报,请先登录！');
                showUserLoginForm();
            break;
                case -10002:
                    alert('您的账户已被管理员禁用，无法进行此操作！');
                break;
            case -1:
                alert('日报标题不能为空！');
                $("#write_daily_form_title").focus();
            break;
            case -2:
                alert('同名日报已经存在！');
                $("#write_daily_form_title").focus();
            break;
            case -3:
                alert('日报内容不能为空！');
                $("#write_daily_form_content").focus();
            break;
            case 1:
                alert('日报提交成功！');
                closeWriteDailyForm();
                updateDailyTable(1);
            break;
            default:
                alert('未知错误，请联系管理员！');
            break;
            }
        });
    });

    // 点击日报编辑表单中的关闭按钮
    $("#btn_edit_daily_form_close").click(function(){
        closeEditDailyForm();
    });

    // 点击日报详情内容视图中的关闭按钮
    $("#btn_daily_detail_close").click(function(){
        $("#daily_item" + $("#daily_detail_view_id").val() + "_detail").focus();
            closeDailyDetailView();
    });

    // 点击日报编辑表单中的提交按钮
    $("#btn_edit_daily_form_edit").click(function(){
        var id = $("#edit_daily_form_id").val();
        var title = $("#edit_daily_form_title").val();
        var content = $("#edit_daily_form_content").val();
        $.post('{:U('/api/daily/edit')}', {id: id, title: title, content: content}, function(data){
            switch (data)
            {
            case -10001:
                alert('你还没有登录，请登录后在进行操作');
                location.href = "{:U('/')}";
            break;
                case -10002:
                    alert('您的账户已被管理员禁用，无法进行此操作！');
                break;
            case -101:
                alert('日报没有找到！');
            break;
            case -102:
                alert('你无权编辑他人日报');
            break;
            case 1:
                alert('提交成功！');
                closeEditDailyForm();
                updateDailyTable(1);
            break;
            default:
                alert('未知错误，请联系管理员！');
            break;
            }
        });
    });

    // 用户改变了用户列表中的选定用户
    $("#user_selector").change(function(){
        g_uid = $(this).val();
        updateDailyTable(1);
    });

});
</script>
</body>
</html>
